table, td, tr{
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
}
.brrr{
    text-align: left;
}
.berere{
    text-align: justify;
}
.sa{
    text-align: left;
}
html, body {
  min-width: 320px;
  height: 100%;
  background-color: #f8fae0;
  color: #023337;
}