* {
    font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: #023337;
}
html{
  background-color: #f8fae0;
    color: #023337;
    scroll-behavior: smooth;
}
kbd {

    background-color: rgb(192, 192, 192);
}

nav {
    background-color: rgb(233, 233, 197);
    margin-inline-end: 1000px;
    padding: 5px;
}

li {
    margin-left: 20px;
}

.soderjanie {
    color: rgb(168, 106, 13);
    padding: 10px;
}

nav p {
    margin-left: 10px;
}

li a {
    color: rgb(185, 128, 6);
    text-decoration: none;
}

.nazad {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 13px;
    margin: 13px;
    background-color: rgb(174, 255, 174);
}