.nav{
    background-color: #cfd496;
}
.section{
    background-color: #bbc07e;
}
.footer{
   background-color: #cfd496;
}
body{
    background-color: #f8fae0;
}
.article{
    background-color: #cfd496;
}
h1{
    font-style:oblique;
    font-size: 50px;
    text-align: center;
}
h2{
    font-style:oblique;
    font-size: 40px;
    text-align: center;
}
h4{
    font-style:oblique;
    font-size: 20px;
    text-align: left;
}
h3{
    font-style:oblique;
    font-size: 20px;
    text-align: left;
}