body{
    color: #fff;
    font:600 24px;
}
.box {
    background: #2db34a;
    border-radius: 6px;
    cursor:pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background;
    transition-property: border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 95px;
}
.box:hover{
    border-radius: 100px;
    background: #ff7b29;
}
