
@font-face {
    font-family: RobotoRegular;
    src: url("Roboto/static/Roboto-Black.ttf");
}

section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center
}

article {
    width: 650px; 
    color: white; 
    padding: 72.31px 0 54.94px 67.3px; 
    margin-bottom: 30px;
    border-radius: 10px; 
}


article:nth-child(2n-1) {
    margin-right: 300px;
}


article:nth-child(1) {
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("img/1.png");
}

article:nth-child(2) {
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("img/2.png");
}

article:nth-child(3) {
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("img/3.png");
    
}

article:nth-child(4) {
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("img/4.png");
}


article h3 {
    font-family: RobotoRegular;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
}


article .price {
    font-family: RobotoRegular;
    font-size: 24px;
}


.price span {
    font-size: 48px;
    color: #df59ca;
    font-weight: bold;
}


article p {
    width: 310px;
    font-family: 'Tahoma';
    font-size: 16px;
    margin: 11px 0 30px 0;
}


article button {
    font-family: RobotoRegular;
    font-size: 18px;
    background: #f26689;
    border: 0;
    padding: 19px 38px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

header{
    padding-bottom: 100px;
}


.dalee{
    font-family: RobotoRegular;
    border-radius: 3px;
    padding: 19px 38px;
    background: #f26689;
    color: white;
    text-decoration: none;
    float: right;
}
.nazad{
    font-family: RobotoRegular;
    border-radius: 3px;
    padding: 19px 38px;
    background: #f26689;
    color: white;
    text-decoration: none;
    float: left;
}
