html, body {
  min-width: 320px;
  height: 100%;
  background-color: #f8fae0;
  color: #023337;
}
header{

    padding: 5px;
    background-color: #cfd496;
}
h1, .nav{
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
}
ul li{
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
a{
  text-decoration: none;
  color: #023337;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}