.piter_jj img{
    width: 150px;
    height: 150px;
    filter: blur(7px);
    transition-property: filter;
    transition-duration:2.5s ;
    transition-timing-function: linear;

}
.piter_jj img:hover{
    filter: blur(0px);

}

